body {
    font-family: 'Jua', sans-serif;
    background-image: url('../images/brick_cat.jpg');
    background-size: contain;
    color: #EFD6B7;
}

.skip a {
    transition: top 1s ease-out;
    position: absolute;
    top: -50px;
    margin-left: 20px;
    font-size: 35px;
}

.skip a:focus {
    top: 70px;
    text-decoration: underline;
}

*:focus {
    border: 5px solid #712E32;
    border-radius: 5px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar nav {
    text-align: center;
}

.navbar .links {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.navbar .links li {
    display: inline-block;
}

.navbar .links a {
    text-decoration: none;
    font-size: 35px;
    color: #333;
}

.links {
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
}

.links li {
    display: inline-block;
    margin-right: 48px;
}

a.btn:focus,
a.btn.active:focus, 
.spacing:hover{
    color: #712E32;
}

a.btn:hover,
a.btn.active:hover,
.spacing:hover{
    color: #712E32;
    transition: 0.3s;
}

a.btn.active,
a.btn.active:hover,
a.btn.active:focus {
    color: #712E32;
    padding-bottom: 4px;
    border-bottom: 5px solid #712E32;
}

h1 {
    margin-top: 100px;
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
}

h2 {
    margin-top: 100px;
    margin-bottom: 25px;   
    font-size: 50px;
    text-align: center;
}

main img {
    border-radius: 15px;
    border: 10px solid #CACACA;
    display: block;
    margin: 0 auto;
}

main {
    text-align: center;
}

p {
    font-size: 30px;
    text-align: center;
    line-height: 1.75;
    margin: 35px 70px 80px 70px;
}

.row {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.column {
    flex: 0 0 30%; 
    margin: 0 2.5%;
}

.img_round{
    border-radius: 30%;
}

.spacing{
    margin: 10px;
}

.image-container {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

footer {
    text-align: center;
}

.arrow_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px 75px 65px 75px;
}

.left_arrow, .right_arrow {
    width: 200px;
    height: auto;
    margin: 0px 5%;
    cursor: pointer;
    border-style: none;
}

.arrow_container h1 {
    margin: 0px 0px 0px 0px;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    perspective: 800px;
    transform-style: preserve-3d;
    cursor: pointer;
    margin: 0px 110px 150px 110px;
}

.card-inner {
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.cards:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card-inner img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 10px solid #CACACA;
}

figcaption{
    font-size: 45px;
    margin-top: 20px;
}

.margin_less{
    margin-top: 30px;
}

#map2, #map3 {
    display: none;
}

#map_caption{
    font-size: 40px;
}

main > .arrow_container {
    margin: 40px 0px 25px 0px;
}

#feature_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.feature {
    text-align: center;
    position: relative;
    flex: 1 1 45%;
    margin: 10px;
}

.feature p{
    margin: 35px 40px 50px 40px;
}

h3 {
    font-size: 45px;
    margin-top: 80px;
    margin-bottom: 10px;
}
li{
    font-size: 30px;
    line-height: 1.9;
}

.caption{
    margin: 10px 10px 0px 10px;
}

.transparent{
    border-style: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container {
    flex: 1;
    padding: 20px;
}

.image-container {
    flex: 1;
    text-align: center;
}

.transparent {
    border-style: none;
}

.wrapper{
    margin: 90px auto;
    width: 75%;
    display: flex;
    align-items: center;
}

.wrapper img{
    float: left;
}

.text-box{
    width: 90%;
}

.wrapper-right{
    margin: 30px auto;
    width: 55%;
    display: flex;
    align-items: center;
}

.wrapper-right img{
    float: right;
}

.text-box-right{
    width: 70%;
}

@media (max-width: 768px) {

    .navbar .links li {
        margin: 10px 0; 
    }

    .navbar .links a {
        font-size: 5vw;
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 8vw;
    }

    main img {
        width: 90%;
    }

    p {
        font-size: 5vw;
        margin: 20px;
    }

    .row .column {
        flex: 0 0 80%;
        margin: 0 10%;
    }

    .img_round {
        border-radius: 15%;
    }

    .image-container {
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .image-container img {
        max-width: 100%;
    }
    .image-container div:first-child img,
    .image-container div:last-child img {
        max-width: 60%;
    }

    .arrow_container {
        margin: 10vw;
    }

    .arrow_container h1{
        font-size: 6vw;
    }

    main .arrow_container {
        margin: 10%;
    }

    main .left_arrow,
    main .right_arrow {
        width: 10vw;
        margin: 20% 5%;
    }

    .left_arrow, .right_arrow {
        width: 15vw; 
        margin: 20% 5%;
    }

    .card_container {
        margin: 0vw 45%; 
    }

    .cards {
        margin: 0% 10% 30vw 5%;
    }

    .card-inner {
        width: 80vw;
        height: 80vw;
    }
    
    .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .column {
        flex: 1 1 45%;
        margin: 0 2.5%;
    }

    .column img {
        width: 50%;
    }

    .wrapper{
        width: 60%;
        margin: 5%;
    }

    .wrapper-right {
        width: 100%;
    }

    .text-box{
        width: 100%;
    }
    
    .text-box-right {
        width: 50%;
    }

    .wrapper img{
        max-width: 40%;
    }
    
    .wrapper-right img {
        max-width: 50%;
    }
}